[submodule "client/submodules/BreezySLAM"]
	path = client/submodules/BreezySLAM
	url = https://github.com/nimashoghi/BreezySLAM.git
[submodule "server/submodules/PyRoboViz"]
	path = server/submodules/PyRoboViz
	url = https://github.com/nimashoghi/PyRoboViz.git
